In [1]:
import pandas as pd
import numpy as np
import csv

In [4]:
monthlystates=pd.read_csv('Resources/Sale_Counts_State.csv')
monthlystates

,RegionID,RegionName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,...,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01
0,9,California,1,23418,28506,31284,32960,36582,35222,36309,...,42181,46524,46633,43935,44853,34292,38796,33345,30855,NaN
1,14,Florida,4,17441,19492,19712,20466,20890,17541,17767,...,46234,48873,47934,45787,45932,37299,40850,37060,36669,NaN

{'message': 'Unauthorized'}